.features {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

.featureSvg {
  height: 120px;
  width: 120px;
  object-fit: contain;
}

.features h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.features p {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.features .text--center {
  padding: 0.5rem 1rem;
}
