.changelogContainer h2 {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
  font-size: 1.5rem;
}

.changelogContainer h2 + p strong {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--ifm-color-emphasis-600);
  font-size: 0.9rem;
  font-weight: normal;
}

.changelogContainer h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.changelogContainer ul {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

